
    <div class="header">
      <h1>About Pizza WOWza</h1>
    </div>
    <div class="content">
      <h2>History of Pizza</h2>
      <p><span>The term </span><span class="pizza_bold_italic">pizza</span><span> was first recorded in the 10th century, in a Latin manuscript from the
Southern Italy town of Gaeta in Lazio, on the border with Campania. Modern pizza was
invented in Naples, and the dish and its variants have since become popular and
common in many areas of the world. In 2009, upon Italy's request, Neapolitan pizza was
registered with the European Union as a </span><span class="dish_bold">Traditional Speciality Guaranteed dish. </span><a href="https://en.wikipedia.org/wiki/Pizza">Read
More ></a></p>
      <p>
        <%= image_tag "pizza_types.jpg", class: "bordered" %>
      </p>
      <br/>
      <a href="/pizza/index">Homepage</a>
    </div>
