// Place all the styles related to the Pizza controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body { text-align: center; }
.header-img {
  margin-bottom:20px;
}
div.content {
  width: 700px;
  max-width:90%;
  margin: auto;
}
.wow_red {color: red;}
p {font-size: 18px;
  line-height: 30 px;}
a {color: red;}
.bordered {border: 10px solid green;
width: 400px;
border-radius: 30px;
margin-top: 10px;
margin-bottom: 30px;}
body { text-align: center; }
.header-img {
  margin-bottom:20px;
}
div.content {
  width: 700px;
  max-width:90%;
  margin: auto;
}
.wow_red {color: red;}
p {font-size: 18px;
  line-height: 30px;}
a {color: red;}
.bordered {border: 10px solid red;
          width: 400px;
          border-radius: 30px;
          margin-top: 10px;
          margin-bottom: 20px;}
.header {background-color:green;
         color: white;
         padding: 10px;}
h1 {font-size: 40px;
    padding: 0;}
.content {width: 700px;
          max-width: 90%;
          margin: auto; }
h2 {color: red;
    font-size: 30px;}
.pizza_bold_italic {font-weight: bold;
                    font-style: italic;}
.dish_bold {font-weight: bold;}
